*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: grey;
    
}


h1{
    text-align: center;
    padding: 10px 0;
}

.draw-board{
    height: 480px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background-color: white;
    

}
.child{
    height: 60px;
    width: 60px;
    border: 1px solid black;
}

.btn{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
    
}